modeloapp/__pycache__/*
/apps/ClasseEquipamento/__pycache__/*
/apps/ClasseEquipamento/migrations/*
/apps/Equipamento/__pycache__/*
/apps/Equipamento/migrations/*
/apps/EquipamentoItem/__pycache__/*
/apps/EquipamentoItem/migrations/*
/apps/Cliente/__pycache__/*
/apps/Cliente/migrations/*
/apps/Localizacao/__pycache__/*
/apps/Localizacao/migrations/*
/apps/Monitoramento/__pycache__/*
/apps/Monitoramento/migrations/*